a {
	color: blue
}

:where(#main, a) {
	color: yellow;
}

:is(#main, a) {
	color: green;
}

.grid {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 680fr 320fr 320fr;
	grid-template-rows: 320fr 320fr 80fr;
	max-width: 1400px;
	height: auto;
}

img {
	border-radius: 30px;
	max-width: 100%;
	height: auto;
	outline: 4px solid white;
}

div[class^="grid__cell"] {
	outline: 1px solid red;
}

.grid__cell--1 {
	grid-column: 1/2;
	grid-row: 1/4;
	align-items: center;
	display: grid;
}

.grid__cell--1 img {
	aspect-ratio: 680/620;
}

.grid__cell--2 {
	grid-column: 2/3;
	grid-row: 1/2;
	align-items: flex-end;
	display: grid;
}

.grid__cell--2 img {
	aspect-ratio: 320/280;
}

.grid__cell--3 {
	grid-column: 3/4;
	grid-row: 1/2;
}

.grid__cell--3 img {
	aspect-ratio: 320/340;
	position: relative;
	bottom: -21%;
}

.grid__cell--4 {
	grid-column: 2/3;
	grid-row: 2/4;
}

.grid__cell--4 img {
	aspect-ratio: 320/440;
}

.grid__cell--5 {
	grid-column: 3/4;
	grid-row: 2/3;
	align-items: flex-end;
	display: grid;
}

.grid__cell--5 img {
	aspect-ratio: 320/280;
}